POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SUPERSET_ADMIN=admin
SUPERSET_PASSWORD=admin
SUPERSET_SECRET_KEY=ChangeMeToARandomStringChangeMeToARandomStringChangeMeTo
AIRFLOW_UID=1000
AIRFLOW_PROJ_DIR=./airflow
DUCKDB_FILE_PATH=/shared/db/datamart.duckdb



